{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<div class="bg-box">
  <img src="/static/img/reservation-bg.webp" alt="background-sea-table">
</div>
<div class="reservation-box text-center">
<strong><h1>{% trans "Sign Out" %}</h1></strong>

<strong><p>{% trans 'Are you sure you want to sign out?' %}</p>
</strong>
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}

  <button class="mr-4 btn btn-warning" type="button" onclick="goBack()">{% trans 'Go Back' %}</button>
  <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
  
</form>
</div>

{% endblock content %}
