/* Genaral css*/
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}
body {
    display: flex;
    flex-direction: column;
}
.container {
    flex: 1;
}
a {
    color: black;
}
/* nav bar css*/

.navbar{
    background-color: #fcf6e4e7;
}


/* background for home page*/
.bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bg-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    
}
/* Footer css */

.footer{
    background-color: #fcf6e4e7;
    position: relative; 
    z-index: 2; 
    
}

.contact-info {
    line-height: 0.8; 
}

p.text-muted { /*copyright text*/
    margin:0px;
}

.footer h5 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
}

/* Menu css */
/* https://themewagon.github.io/feane/index.html */
/* If deciding to override within a specific context */

.container {
    max-width: none;
}

.food-section{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.menu-title{
    padding-top: 50px;
    font-size: 50px;
    color: #f8e42e;

}
.food-section , .filters-menu, .filters-content{
    position: relative; 
    z-index: 2; 
}

.food-section .filters-menu {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style-type: none;
    margin: 25px 0 20px 0;
}

.food-section .filters-menu li {
    padding: 7px 25px;
    cursor: pointer;
    border-radius: 25px;
    background-color: #f1f2f3;
}

.food-section .box {
    position: relative;
    margin-top: 25px;
    background-color: #fcf6e4e7;
    border-radius: 10px;
    color: black;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(to bottom, #fcf6e4e7 25px, #fcf6e4e7 25px);
}

.food-section .box .img-box {
    background: #fcf6e4e7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 215px;
    border-radius: 0 0 0 45px;
    margin: -1px;
    padding: 25px;
}

.food-section .box .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.active { /*active page marker*/
    
    background-color: #519cebaf !important;
}

@media (max-width: 992px) {
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 10px;
    } 
}

@media (max-width: 768px) {
    .contact-info {
        font-size: 14px;
        line-height: 0;
    }
}


