{% extends "base.html" %}
{% block content %}
<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our Menu
            </h2>
        </div>

        <ul class="filters_menu">
            <li class="active" data-filter="*">All</li>
            <li data-filter=".burger">Burger</li>
            <li data-filter=".pizza">Pizza</li>
            <li data-filter=".pasta">Pasta</li>
            <li data-filter=".fries">Fries</li>
        </ul>

        <div class="filters-content">
            <div class="row grid" style="position: relative; height: 1330.5px;">
                <div class="col-sm-6 col-lg-4 all pizza" style="position: absolute; left: 0px; top: 0px;">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="images/f1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Delicious Pizza
                                </h5>
                                <p>
                                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                    voluptatem repellendus sed eaque
                                </p>
                                <div class="options">
                                    <h6>
                                        $20
                                    </h6>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger" style="position: absolute; left: 390px; top: 0px;">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="images/f2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Delicious Burger
                                </h5>
                                <p>
                                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                    voluptatem repellendus sed eaque
                                </p>
                                <div class="options">
                                    <h6>
                                        $15
                                    </h6>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza" style="position: absolute; left: 780px; top: 0px;">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="images/f3.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Delicious Pizza
                                </h5>
                                <p>
                                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                    voluptatem repellendus sed eaque
                                </p>
                                <div class="options">
                                    <h6>
                                        $17
                                    </h6>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta" style="position: absolute; left: 0px; top: 443px;">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="images/f4.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Delicious Pasta
                                </h5>
                                <p>
                                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                    voluptatem repellendus sed eaque
                                </p>
                                <div class="options">
                                    <h6>
                                        $18
                                    </h6>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all fries" style="position: absolute; left: 390px; top: 443px;">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="images/f5.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    French Fries
                                </h5>
                                <p>
                                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                    voluptatem repellendus sed eaque
                                </p>
                                <div class="options">
                                    <h6>
                                        $10
                                    </h6>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza" style="position: absolute; left: 780px; top: 443px;">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="images/f6.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Delicious Pizza
                                </h5>
                                <p>
                                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                    voluptatem repellendus sed eaque
                                </p>
                                <div class="options">
                                    <h6>
                                        $15
                                    </h6>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger" style="position: absolute; left: 0px; top: 887px;">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="images/f7.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Tasty Burger
                                </h5>
                                <p>
                                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                    voluptatem repellendus sed eaque
                                </p>
                                <div class="options">
                                    <h6>
                                        $12
                                    </h6>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger" style="position: absolute; left: 390px; top: 887px;">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="images/f8.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Tasty Burger
                                </h5>
                                <p>
                                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                    voluptatem repellendus sed eaque
                                </p>
                                <div class="options">
                                    <h6>
                                        $14
                                    </h6>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta" style="position: absolute; left: 780px; top: 887px;">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="images/f9.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Delicious Pasta
                                </h5>
                                <p>
                                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                    voluptatem repellendus sed eaque
                                </p>
                                <div class="options">
                                    <h6>
                                        $10
                                    </h6>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="" contenteditable="false" style="cursor: pointer;">
                View More
            </a>
        </div>
    </div>
</section>
<h1>Menu</h1>
{% for category, items in categorized_items.items %}
<h2>{{ category }}</h2>
<ul>
    {% for item in items %}
    <li>
        <h3>{{ item.name }}</h3>
        <p>Description: {{ item.description }}</p>
        <p>Price: ${{ item.price }}</p>

    </li>
    {% endfor %}
</ul>
{% endfor %}
{% endblock %}