{% extends "base.html" %}
{% load static %}
{% block content %}



<section class="food-section" style="background-image: url('{% static 'img/menu.webp' %}');">
    <div class="container">
        <div class="heading_container heading_center text-center mt-4">
            <h1 class="menu-title">
                Our Menu
            </h1>
        </div>

        <ul class="filters-menu">
            <li class="active" data-filter="*">All</li>
            {% for category in categories %}
            <li data-filter=".{{ category|slugify }}">{{ category }}</li>
            {% endfor %}
        </ul>
        <div class="filters-content">
            <div class="row grid">
                {% for item in menu_items %}
                <div class="col-sm-6 col-lg-4 all {{ item.category|slugify }}">
                    <div class="box mb-2">
                        <div>
                            <div class="img-box">
                                <img src="https://res.cloudinary.com/dskeexhf9/{{ item.image.url }}" alt="{{ item.name }}">
                            </div>
                            <div class="detail-box">
                                <h5>{{ item.name }}</h5>
                                <p>{{ item.description }}</p>
                                <div class="options">
                                    <h6>€{{ item.price }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        

        
    </div>
</section>


{% endblock %}