{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="bg-box">
    <img src="{% static '\img\reservation-bg.webp' %}" alt="background-sea-table">
</div>
<div class="row alert-row">
    {% if messages %}
    <div class="alert-messages ml-3">
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
<div class="row mt-5">
    <div class="col-md-6 text-center">
        <div class="reservation-box mt-0">
            <h2>Make a Reservation</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit Reservation</button>
            </form>
        </div>
    </div>

    <div class="col-md-6 mt-2">
        <div class="reservation-box mt-0">
            <h2>Your Upcoming Reservations</h2>
            {% for reservation in future_reservations %}
            <div class="reservation-entry">
                <p><strong>Date:</strong> {{ reservation.date }} <strong>Time:</strong> {{ reservation.time }}</p>
                <p><strong>Guests:</strong> {{ reservation.number_of_guests }} <strong>Location:</strong> {{ reservation.table_location }}</p>
                <!-- Edit button -->
                <a href="{% url 'edit_reservation' reservation.id %}" class="btn btn-primary">Edit</a>
            </div>
            {% empty %}
            {% if request.user.is_authenticated %}
            <p>You have no upcoming reservations.</p>
            {% else %}
            <p>Please <a class="text-primary font-weight-bolder" href="../accounts/login/">log in</a> to view your upcoming reservations.</p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="reservation-box ml-0 mr-0 mt-4 mb-2">
        <h2>Your Past Reservations</h2>
        {% for reservation in past_reservations %}
        <div class="reservation-entry"
            <p><strong>Date:</strong> {{ reservation.date }} <strong>Time:</strong> {{ reservation.time }}</p>
            <p><strong>Guests:</strong> {{ reservation.number_of_guests }} <strong>Location:</strong> {{ reservation.table_location }}</p>
        </div>
        {% empty %}
        {% if request.user.is_authenticated %}
        <p>You have no upcoming reservations.</p>
        {% else %}
        <p>Please <a class="text-primary font-weight-bolder" href="../accounts/login/">log in</a> to view your upcoming reservations.</p>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}