html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
.container {
    flex: 1;
}

.contact-info {
    line-height: 0.8; 
}
.active {
    color: #fff; 
    background-color: #93c5fa; 
}

@media (max-width: 768px) {
    .contact-info {
        font-size: 14px;
        line-height: 0;
    }
}